{% extends 'base.html' %}
{% block title %}Strona główna{% endblock %}
{% block content %}
<p>Na tej stronie prezentuję moją kolekcję kapsli.</p>
<p style="font-size: 11px;">Jestem autorem wszystkich zdjęć kapsli na tej stronie i zgadzam się na ich wykorzystywanie w dowolnym celu.</p>
<div class="last-updates">
    <h2>Ostatnie aktualizacje</h2>
    <div>
        <h3>11.12.2023</h3>
        <p>Dodałem 76 kapsli (9579 - 9654).</p>
    </div>
    <div>
        <h3>02.12.2023</h3>
        <p>Dodałem 764 kapsle (8815 - 9578).</p>
    </div>
    <div>
        <h3>19.11.2023</h3>
        <p>Dodałem 471 kapsli (8344 - 8814).</p>
    </div>
    <div>
        <h3>03.11.2023</h3>
        <p>Dodałem 197 kapsli (8147 - 8343).</p>
    </div>
    <div>
        <h3>14.10.2023</h3>
        <p>Dodałem 80 kapsli (8067 - 8146).</p>
    </div>
    <div>
        <h3>11.10.2023</h3>
        <p>Dodałem 289 kapsli (7778 - 8066).</p>
    </div>
    <div>
        <h3>29.09.2023</h3>
        <p>Dodałem 264 kapsle (7514 - 7777).</p>
    </div>
    <div>
        <h3>21.09.2023</h3>
        <p>Dodałem 77 kapsli (7437 - 7513).</p>
    </div>
    <div>
        <h3>06.09.2023</h3>
        <p>Dodałem 415 kapsli (7022 - 7436).</p>
    </div>
    <div>
        <h3>11.07.2023</h3>
        <p>Dodałem 21 kapsli (7001 - 7021).</p>
    </div>
    <div>
        <h3>30.06.2023</h3>
        <p>Dodałem 106 kapsli (6895 - 7000).</p>
    </div>
    <div>
        <h3>21.06.2023</h3>
        <p>Dodałem 18 kapsli (6877 - 6894).</p>
    </div>
    <div>
        <h3>16.06.2023</h3>
        <p>Dodałem 97 kapsli (6780 - 6876).</p>
    </div>
    <div>
        <h3>07.06.2023</h3>
        <p>Dodałem 6 kapsli (6774 - 6779).</p>
    </div>
    <div>
        <h3>06.06.2023</h3>
        <p>Dodałem 119 kapsli (6655 - 6773).</p>
    </div>
    <div>
        <h3>16.05.2023</h3>
        <p>Dodałem 96 kapsli (6559 - 6654).</p>
    </div>
    <div>
        <h3>27.04.2023</h3>
        <p>Dodałem 131 kapsli (6428 - 6558).</p>
    </div>
    <div>
        <h3>11.04.2023</h3>
        <p>Dodałem 82 kapsle (6346 - 6427).</p>
    </div>
    <div>
        <h3>01.04.2023</h3>
        <p>Dodałem 177 kapsli (6169 - 6345).</p>
    </div>
    <div>
        <h3>08.03.2023</h3>
        <p>Dodałem 52 kapsle (6064 - 6115).</p>
    </div>
    <div>
        <h3>03.03.2023</h3>
        <p>Dodałem 9 kapsli (6055 - 6063).</p>
    </div>
    <div>
        <h3>27.02.2023</h3>
        <p>Dodałem 143 kapsle (5912 - 6054).</p>
    </div>
    <div>
        <h3>13.02.2023</h3>
        <p>Dodałem 28 kapsli (5884 - 5911). Przeniosłem Heineken i Desperados do <em>marek globalnych</em></p>
    </div>
    <div>
        <h3>28.01.2023</h3>
        <p>Dodałem 2 nowe kapsle.</p>
    </div>
    <div>
        <h3>24.01.2023</h3>
        <p>Dodałem 6 nowych kapsli (ID 5876 - 5881).</p>
    </div>
    <div>
        <h3>16.01.2023</h3>
        <p>Uporządkowałem Carlsberg i Coca-Colę. Dodałem 45 nowych kapsli (ID 5831 - 5875) i część brakujących zdjęć.
        </p>
    </div>
    <div>
        <h3>10.01.2023</h3>
        <p>Podzieliłem Niemcy na poszczególne browary i dodałem 270 kapsli. Jeszcze nie wszystkie zeskanowałem -
            postaram się zrobić to w najbliższym czasie.</p>
    </div>
    <div>
        <h3>21.12.2022</h3>
        <p>Dodałem 3 kapsle i chyba wszystkie brakujące zdjęcia.</p>
    </div>
    <div>
        <h3>21.12.2022</h3>
        <p>Dodałem 11 nowych kapsli (ID 5547 - 5557) i część brakujących zdjęć.</p>
    </div>
    <div>
        <h3>17.12.2022</h3>
        <p>Dodałem 92 nowe kapsle (ID 5455 - 5546) i część brakujących zdjęć. Przeniosłem kapsle marek 7up, Coca-Cola,
            Fanta, Kinley, Mirinda, Pepsi, Smirnoff, Sprite do kategorii <em>Marki globalne</em></p>
    </div>
    <div>
        <h3>06.12.2022</h3>
        <ul>
            <li>Dodałem 215 nowych kapsli (ID 5240 - 5454) i część brakujących zdjęć.</li>
            <li>Dodałem kategorię <em>Marki globalne</em>.</li>
            <li>Zmiany w Polsce:
                <ul>
                    <li>Dodałem kategorie <em>Producent nieznany</em> i <em>Inne</em>.</li>
                    <li>Podzieliłem kategorię <em>Pozostałe</em> na poszczególne browary.</li>
                </ul>
            </li>
        </ul>
    </div>
    <div>
        <h3>22.11.2022</h3>
        <p>Dodałem nowe kapsle i część brakujących zdjęć.</p>
    </div>
    <div>
        <h3>15.11.2022</h3>
        <p>Dodałem 63 nowe kapsle (ID 5134 - 5196).</p>
    </div>
    <div>
        <h3>02.11.2022</h3>
        <p>Dodałem 18 nowych kapsli (ID 5116 - 5133).</p>
    </div>
    <div>
        <h3>30.10.2022</h3>
        <p>Kilka drobnych poprawek w kodzie. Dodałem 5 nowych kapsli.</p>
    </div>
    <div>
        <h3>22.10.2022</h3>
        <p>Napisałem całą stronę od nowa. Jeszcze nie jest całkiem dokończona, ale powinno dać się korzystać. Jeżeli
            znajdziesz jakiś błąd lub masz jakąś sugestię, <a href="/kontakt">napisz do mnie</a>. Stara wersja strony
            jest dostępna pod adresem <a href="https://old.holoskawina.xyz">old.holoskawina.xyz</a>.</p>
    </div>
</div>
{% endblock %}