{% extends 'base.html' %}
{% block title %}Strona główna{% endblock %}
{% block content %}
<p>Na tej stronie prezentuję moją kolekcję kapsli.</p>
<div class="last-updates">
    <h2>Ostatnie aktualizacje</h2>
    <div>
        <h3>21.12.2022</h3>
        <p>Dodałem 3 kapsle i chyba wszystkie brakujące zdjęcia.</p>
    </div>
    <div>
        <h3>21.12.2022</h3>
        <p>Dodałem 11 nowych kapsli (ID 5547 - 5557) i część brakujących zdjęć.</p>
    </div>
    <div>
        <h3>17.12.2022</h3>
        <p>Dodałem 92 nowe kapsle (ID 5455 - 5546) i część brakujących zdjęć. Przeniosłem kapsle marek 7up, Coca-Cola, Fanta, Kinley, Mirinda, Pepsi, Smirnoff, Sprite do kategorii <em>Marki globalne</em></p>
    </div>
    <div>
        <h3>06.12.2022</h3>
        <ul>
            <li>Dodałem 215 nowych kapsli (ID 5240 - 5454) i część brakujących zdjęć.</li>
            <li>Dodałem kategorię <em>Marki globalne</em>.</li>
            <li>Zmiany w Polsce:
                <ul>
                    <li>Dodałem kategorie <em>Producent nieznany</em> i <em>Inne</em>.</li>
                    <li>Podzieliłem kategorię <em>Pozostałe</em> na poszczególne browary.</li>
                </ul>
            </li>
        </ul>
    </div>
    <div>
        <h3>22.11.2022</h3>
        <p>Dodałem nowe kapsle i część brakujących zdjęć.</p>
    </div>
    <div>
        <h3>15.11.2022</h3>
        <p>Dodałem 63 nowe kapsle (ID 5134 - 5196).</p>
    </div>
    <div>
        <h3>02.11.2022</h3>
        <p>Dodałem 18 nowych kapsli (ID 5116 - 5133).</p>
    </div>
    <div>
        <h3>30.10.2022</h3>
        <p>Kilka drobnych poprawek w kodzie. Dodałem 5 nowych kapsli.</p>
    </div>
    <div>
        <h3>22.10.2022</h3>
        <p>Napisałem całą stronę od nowa. Jeszcze nie jest całkiem dokończona, ale powinno dać się korzystać. Jeżeli
            znajdziesz jakiś błąd lub masz jakąś sugestię, <a href="/kontakt">napisz do mnie</a>. Stara wersja strony
            jest dostępna pod adresem <a href="https://old.holoskawina.xyz">old.holoskawina.xyz</a>.</p>
    </div>
</div>
{% endblock %}