{% extends 'base.html' %}
{% block title %}Kontakt{% endblock %}
{% block content %}
<p>email: <a href="mailto:smietanskimikolaj@gmail.com">smietanskimikolaj@gmail.com</a></p>
<p>telefon / whatsapp: +48 518 892 141</p>
<p>crowncaps.info: <a href="https://crowncaps.info/users/4895">#4895</a></p>
<p>katalogkapsli.pl: <a href="https://katalogkapsli.pl/kolekcjoner/grzymc">grzymc</a></p>
<p>colnect.com: <a href="https://colnect.com/pl/collectors/collector/grzymc">grzymc</a></p>
<p>geocaching.com: <a href="https://www.geocaching.com/p/?u=holoskawina">holoskawina</a></p>
<p>opencaching.pl: <a href="https://opencaching.pl/viewprofile.php?userid=45052">holoskawina</a></p>
{% endblock %}